<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'global.css'%}" />
    <link rel="stylesheet" href="{% static 'product-page.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind Siliguri:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="product-page">
      <section class="header">
        <div class="rectangle-parent34">
          <div class="frame-child88"></div>
          <div class="back-to-home-container">
            <b class="back-to-home1"><a href="index.html" style="text-decoration: none; color: white;">Back to Home</a></b>
          </div>
        </div>
        <div class="wrapper-rectangle-6-parent">
          <div class="wrapper-rectangle-6">
            <img
              class="wrapper-rectangle-6-child"
              loading="lazy"
              alt=""
              src="public/image2.png"
              style="width: 500px;"
            />
          </div>
          <div class="contact-info">
            <div class="wonderful-flat-for-2-person-parent">
              <h2 class="wonderful-flat-for">Wonderful Flat for 2 person</h2>
              <div class="charabag-ashulia-dhaka">Charabag, Ashulia, Dhaka</div>
            </div>
            <div class="it-is-long-established-fact-th-wrapper">
              <div class="it-is-long-container1">
                <p class="it-is-long1">
                  It is long established fact that reader will distract by the
                  readable
                </p>
                <p class="content-a-page1">
                  content a page when looking atten layout. The point of using
                  and
                </p>
                <p class="that-it-has1">
                  that it has a normal distribution of letters.
                </p>
              </div>
            </div>
            <div class="the-flat-is-for-parent">
              <div class="the-flat-is">The flat is for:</div>
              <div class="everyone-wrapper">
                <div class="everyone">Everyone</div>
              </div>
            </div>
            <div class="contact1">Contact:</div>
            <div class="contact-title">01721684387</div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-content">
          <div class="house-finder-parent">
            <div class="house-finder"><a href="index.html" style="text-decoration: none; color: black;">House Finder</a></div>
            <div class="welcome-and-open-container1">
              <p class="welcome-and-open1">Welcome and open yourself to your</p>
              <p class="truest-love-this1">
                truest love this year with us! with the
              </p>
              <p class="release-process1">Release Process</p>
            </div>
            <img
              class="frame-child89"
              loading="lazy"
              alt=""
              src="public/links.png"
              style="height: auto;"
            />
          </div>
          <div class="frame-parent59">
            <div class="quick-link-group">
              <div class="quick-link1">Quick Link</div>
              <div class="link-list">
                <div class="about-us1">About US</div>
                <div class="causes1">Causes</div>
                <div class="events1">Events</div>
                <div class="volunteers1">Volunteers</div>
              </div>
            </div>
            <div class="our-address-group">
              <div class="our-address1">Our Address</div>
              <div class="would-you-have-container1">
                <p class="would-you-have1">
                  Would you have any enquiries. please feel
                </p>
                <p class="free-to-contact1">free to contact</p>
              </div>
              <div class="contact-details">
                <div class="contact-icons">
                  <img
                    class="icons"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/mail.png'%}"
                    style="height: auto;"
                  />

                  <div class="nomanabdullah688gmailcom1">
                    fahimmuntasir15-6210@gmail.com
                  </div>
                </div>
                <div class="group-parent2">
                  <img
                    class="group-icon4"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/phone.png'%}"
                  />

                  <div class="placeholder">01721684387</div>
                </div>
                <div class="contact-icons1">
                  <img
                    class="zondiconslocation1"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/locat.png'%}"
                  />

                  <div class="savar-dhaka1">Savar, Dhaka</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
